# Preparation
The data on HDB resale property transactions comes in 4 separate datasets (link:
https://data.gov.sg/dataset/resale-flat-prices) differentiated by the date of the transaction:

- 1990 – 1999
- 2000 – Feb 2012
- Mar 2012 – Dec 2014
- Jan 2015 onwards

Prior to attempting the questions below, please merge the datasets together.

In [1]:
import json
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
from datetime import datetime

In [20]:
df = pd.read_csv('hdb_resale.csv')

/Users/Ju/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3437: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [21]:
# data source: https://data.gov.sg/dataset/resale-flat-prices
query_string=[
    # Jan 2017 onwards
    'https://data.gov.sg/api/action/datastore_search?resource_id=f1765b54-a209-4718-8d38-a39237f502b3&limit=103555',
    # Jan 2015 to Dec 2016
    'https://data.gov.sg/api/action/datastore_search?resource_id=1b702208-44bf-4829-b620-4615ee19b57c&limit=37153',
    # Mar 2012 to Dec 2014
    'https://data.gov.sg/api/action/datastore_search?resource_id=83b2fc37-ce8c-4df4-968b-370fd818138b&limit=52203',
    #2000 to Feb 2012
    'https://data.gov.sg/api/action/datastore_search?resource_id=8c00bf08-9124-479e-aeca-7cc411d884c4&limit=369651',
    #1990 to 1999
    'https://data.gov.sg/api/action/datastore_search?resource_id=adbbddd3-30e2-445f-a123-29bee150a6fe&limit=287196'
]

Using API provided by data.gov, a function is made to compile all the data and to form one merged sheet

In [24]:
def hdb_api(query_string):
    all_df = []
    for url in query_string:
        resp = requests.get(url)
        
        #Convert JSON into Python Object 
        data = json.loads(resp.content)
        
        # find length of data and columns
        hdb_price_dict_records = data['result']['records']
        col = len(hdb_price_dict_records[0])
        
        # Next we need to feed our JSON data into dataframe. 
        # We will access the 'records' key:value pairs of the python dictionary. 
        # We will then map the list into a dataframe.
        town = []
        flat_type = []
        flat_model = []
        floor_area_sqm = []
        street_name = []
        resale_price = []
        month = []
        remaining_lease = []
        lease_commence_date = []
        storey_range = []
        _id = []
        block = []

        for i in range(len(hdb_price_dict_records)):
            town.append(hdb_price_dict_records[i]['town'])
            flat_type.append(hdb_price_dict_records[i]['flat_type'])
            flat_model.append(hdb_price_dict_records[i]['flat_model'])
            floor_area_sqm.append(hdb_price_dict_records[i]['floor_area_sqm'])
            street_name.append(hdb_price_dict_records[i]['street_name'])
            resale_price.append(hdb_price_dict_records[i]['resale_price'])
            month.append(hdb_price_dict_records[i]['month'])
            lease_commence_date.append(hdb_price_dict_records[i]['lease_commence_date'])
            storey_range.append(hdb_price_dict_records[i]['storey_range'])
            _id.append(hdb_price_dict_records[i]['_id'])
            block.append(hdb_price_dict_records[i]['block'])
            if col >11:
                remaining_lease.append(hdb_price_dict_records[i]['remaining_lease'])

        # append all_df to be combined later
        if col >11:
            all_df.append(pd.DataFrame({
                'town': town,
                'flat_type': flat_type,
                'flat_model': flat_model,
                'floor_area_sqm': floor_area_sqm,
                'street_name': street_name,
                'resale_price': resale_price,
                'month': month,
                'remaining_lease': remaining_lease,
                'lease_commence_date': lease_commence_date,
                'storey_range': storey_range,
                '_id': _id,
                'block': block
            }))
        else:
            all_df.append(pd.DataFrame({
                'town': town,
                'flat_type': flat_type,
                'flat_model': flat_model,
                'floor_area_sqm': floor_area_sqm,
                'street_name': street_name,
                'resale_price': resale_price,
                'month': month,
                'lease_commence_date': lease_commence_date,
                'storey_range': storey_range,
                '_id': _id,
                'block': block
            }))
        
    return pd.concat(all_df,ignore_index=True)

In [25]:
df = hdb_api(query_string)

In [26]:
# Verify that there is no missing entries (849758 entries)
len(df)

849758

## Getting to know the dataset
The HDB resale data can be retrieved from data.gov.sg. Below is an example of the columns available from the [`HDB_resale.csv`]('HDB_resale.csv') dataset:

|Feature| Description |
|--|--|
| Month | Given in the format of year-month. We may retrieve the year data from this column, which may be useful when analysing the time trend for HDB resale price. |
| Town | Town location should be one of the key factors affecting HDB resale price — we are generally expecting an HDB flat in Orchard has a much higher resale price than Yishun given the same flat type.|
|Flat Type| There are 7 different kinds of flat types: 1 Room, 2 Room, 3 Room, 4 Room, 5 Room, EC and Multi-generation. Among which the 4 Room HDB flats are the most popular ones in Singapore. We may consider using 4 Room data samples to construct the model. |
|Storey Range| This column is given as a string rather than numbers, we may need to do some data munging accordingly if we want to use it to build the model. |
|Flat Model| Similarly, there are plenty of different flat models out there(35 different types). This factor would play an important role in the overall flat price. E.g., the DBSS (Design, Build and Sell Scheme) flats would have a higher resale price considering it allows buyers to design the HDB based on their own style. |
|Remaining Lease| Singapore HDB has a lease of 99 years. This column data has quite some NULL values, and it is calculated based on different years. We may need to adjust this column data accordingly when building the model.|

## Datatypes

In [27]:
df.dtypes

town                   object
flat_type              object
flat_model             object
floor_area_sqm         object
street_name            object
resale_price           object
month                  object
remaining_lease        object
lease_commence_date    object
storey_range           object
_id                     int64
block                  object
dtype: object

In [28]:
df.columns.to_list()

['town',
 'flat_type',
 'flat_model',
 'floor_area_sqm',
 'street_name',
 'resale_price',
 'month',
 'remaining_lease',
 'lease_commence_date',
 'storey_range',
 '_id',
 'block']

In [29]:
df.head(2)

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block
0,WOODLANDS,5 ROOM,Model A,134,MARSILING RD,350000,2017-03,77 years 01 month,1995,04 TO 06,1,139
1,WOODLANDS,5 ROOM,Standard,120,MARSILING DR,355000,2017-03,57 years 10 months,1976,16 TO 18,2,9

The following column datatypes need to be handled: 

|Feature| Data Type |
|--|--|
|'_id' | should be dropped because there it has no meaning to the database other than identify itself in its .csv file |
|'storey_range' | to two columns lower and upper storeys as separate columns |
| 'floor_area_sqm' 'resale_price'  'storey_lower' 'storey_upper' 'block_num' | to numeric |
| 'month','lease_commence_date'| to date|
|'remaining_lease'| has many ms may not be used so not amended|

In [30]:
df.drop(columns='_id',inplace=True)

In [31]:
df['storey_lower'] = df['storey_range'].apply(lambda x: re.findall('\d+',x)[0])
df['storey_upper'] = df['storey_range'].apply(lambda x: re.findall('\d+',x)[1])
df['block_num'] = df['block'].apply(lambda x: re.findall('\A\d+',x)[0])

In [32]:
# convert numeric columns
for x in ['floor_area_sqm','resale_price','storey_lower', 'storey_upper', 'block_num']:
    df[x] = pd.to_numeric(df[x])

In [33]:
# change to time format for date columns
for x in ['month','lease_commence_date']:
    df[x] = pd.to_datetime(df[x])

In [34]:
df['storey_ave'] = (df['storey_lower'] + df['storey_upper'])/2

In [35]:
numeric_feat =[col for col in df.columns if df[col].dtypes != 'O'and col not in ['_id']]
discrete_feat = [col for col in numeric_feat if len(df[col].unique())<25 and col not in ['_id']]
continuous_feat = [col for col in numeric_feat if col not in discrete_feat and col not in ['_id']]
categorical_feat = [col for col in df.columns if df[col].dtypes == 'O']

In [17]:
feature_types = [numeric_feat,discrete_feat,continuous_feat,categorical_feat]
feature_label = ['numeric','discrete','continuous','categorical']

for feat,ls in zip(feature_label,feature_types):
    print(f'{feat} features: {len(ls)}, \n{ls}\n')

numeric features: 8,
['floor_area_sqm', 'resale_price', 'month', 'lease_commence_date', 'storey_lower', 'storey_upper', 'block_num', 'storey_ave']

discrete features: 3,
['storey_lower', 'storey_upper', 'storey_ave']

continuous features: 5,
['floor_area_sqm', 'resale_price', 'month', 'lease_commence_date', 'block_num']

categorical features: 7,
['town', 'flat_type', 'flat_model', 'street_name', 'remaining_lease', 'storey_range', 'block']

## Dealing with duplicates

There is some duplicated data in this set. However, given the unspecific descriptors of the data it can be assumed that they are distinct purchases. So duplicates are not removed

In [36]:
df[df.duplicated(keep=False)].head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,block,storey_lower,storey_upper,block_num,storey_ave
235,ANG MO KIO,4 ROOM,New Generation,91.0,ANG MO KIO AVE 1,470000.0,2017-04-01,63 years 10 months,1982-01-01,04 TO 06,335,4,6,335,5.0
245,ANG MO KIO,4 ROOM,New Generation,91.0,ANG MO KIO AVE 1,470000.0,2017-04-01,63 years 10 months,1982-01-01,04 TO 06,335,4,6,335,5.0
275,BEDOK,3 ROOM,New Generation,67.0,BEDOK NTH ST 3,288000.0,2017-04-01,61 years 05 months,1979-01-01,01 TO 03,510,1,3,510,2.0
276,BEDOK,3 ROOM,New Generation,67.0,BEDOK NTH ST 3,288000.0,2017-04-01,61 years 05 months,1979-01-01,01 TO 03,510,1,3,510,2.0
335,BEDOK,4 ROOM,Model A,108.0,JLN TENAGA,470000.0,2017-04-01,78 years 07 months,1996-01-01,04 TO 06,655,4,6,655,5.0

## Review Categories

'flat_type', 'flat_model' needs to be conditioned to remove redundancies

In [37]:
for feat in categorical_feat:
    print(f'======={feat}=======')
    print(df[feat].unique())

=======town=======
['WOODLANDS' 'YISHUN' 'ANG MO KIO' 'BEDOK' 'BISHAN' 'BUKIT BATOK'
 'PUNGGOL' 'BUKIT MERAH' 'BUKIT PANJANG' 'BUKIT TIMAH' 'CENTRAL AREA'
 'CHOA CHU KANG' 'CLEMENTI' 'GEYLANG' 'HOUGANG' 'JURONG EAST'
 'JURONG WEST' 'KALLANG/WHAMPOA' 'MARINE PARADE' 'PASIR RIS' 'QUEENSTOWN'
 'SEMBAWANG' 'SENGKANG' 'SERANGOON' 'TAMPINES' 'TOA PAYOH' 'LIM CHU KANG']
=======flat_type=======
['5 ROOM' 'EXECUTIVE' '3 ROOM' '4 ROOM' '2 ROOM' '1 ROOM'
 'MULTI-GENERATION' 'MULTI GENERATION']
=======flat_model=======
['Model A' 'Standard' 'Improved' 'Premium Apartment' 'Apartment'
 'Maisonette' 'New Generation' 'Simplified' 'DBSS' 'Model A2' 'Type S1'
 'Type S2' 'Model A-Maisonette' 'Adjoined flat' 'Improved-Maisonette'
 'Terrace' 'Premium Maisonette' 'Multi Generation'
 'Premium Apartment Loft' '2-room' 'IMPROVED' 'NEW GENERATION' 'MODEL A'
 'STANDARD' 'SIMPLIFIED' 'MODEL A-MAISONETTE' 'APARTMENT' 'MAISONETTE'
 'TERRACE' '2-ROOM' 'IMPROVED-MAISONETTE' 'MULTI GENERATION'
 'PREMIUM APARTMENT']
=======street_name=======
['MARSILING RD' 'MARSILING DR' 'WOODLANDS DR 60' 'WOODLANDS DR 75'
 'WOODLANDS ST 81' 'WOODLANDS CRES' 'WOODLANDS ST 82' 'MARSILING LANE'
 'WOODLANDS AVE 4' 'WOODLANDS DR 70' 'WOODLANDS CIRCLE' 'WOODLANDS DR 44'
 'WOODLANDS DR 14' 'WOODLANDS DR 16' 'WOODLANDS DR 71' 'WOODLANDS DR 40'
 'WOODLANDS DR 50' 'WOODLANDS ST 31' 'WOODLANDS ST 83' 'WOODLANDS RING RD'
 'WOODLANDS AVE 6' 'WOODLANDS ST 13' 'MARSILING RISE' 'WOODLANDS AVE 5'
 'WOODLANDS ST 41' 'YISHUN RING RD' 'YISHUN ST 11' 'YISHUN ST 61'
 'YISHUN AVE 3' 'YISHUN AVE 11' 'YISHUN ST 21' 'YISHUN AVE 5'
 'YISHUN AVE 6' 'YISHUN ST 81' 'YISHUN AVE 4' 'YISHUN ST 22'
 'YISHUN AVE 7' 'YISHUN ST 41' 'YISHUN CTRL' 'YISHUN ST 72' 'YISHUN AVE 9'
 'YISHUN ST 20' 'YISHUN AVE 2' 'ANG MO KIO AVE 4' 'ANG MO KIO AVE 8'
 'ANG MO KIO AVE 3' 'ANG MO KIO AVE 10' 'ANG MO KIO AVE 6'
 'ANG MO KIO AVE 1' 'ANG MO KIO AVE 5' 'ANG MO KIO AVE 9'
 'ANG MO KIO ST 52' 'ANG MO KIO ST 21' 'BEDOK NTH AVE 4' 'BEDOK NTH ST 3'
 'CHAI CHEE RD' 'BEDOK NTH RD' 'CHAI CHEE DR' 'CHAI CHEE ST'
 'BEDOK RESERVOIR RD' 'BEDOK NTH AVE 1' 'BEDOK NTH AVE 3' 'BEDOK NTH ST 2'
 'BEDOK STH AVE 1' 'NEW UPP CHANGI RD' 'BEDOK NTH AVE 2' 'BEDOK NTH ST 1'
 'CHAI CHEE AVE' 'BEDOK CTRL' 'BEDOK STH AVE 2' 'BEDOK STH RD'
 'JLN TENAGA' 'BEDOK RESERVOIR VIEW' 'JLN DAMAI' 'BEDOK STH AVE 3'
 'BISHAN ST 12' 'SHUNFU RD' 'BISHAN ST 11' 'BISHAN ST 13' 'BISHAN ST 24'
 'BISHAN ST 23' 'SIN MING AVE' 'BT BATOK ST 34' 'BT BATOK EAST AVE 4'
 'BT BATOK WEST AVE 2' 'BT BATOK ST 33' 'BT BATOK ST 52'
 'BT BATOK WEST AVE 4' 'BT BATOK WEST AVE 8' 'BT BATOK EAST AVE 5'
 'BT BATOK ST 31' 'BT BATOK ST 32' 'BT BATOK EAST AVE 3' 'BT BATOK CTRL'
 'BT BATOK WEST AVE 6' 'PUNGGOL CTRL' 'BT BATOK ST 11' 'BT BATOK ST 24'
 'BT BATOK ST 25' 'BT BATOK WEST AVE 5' 'BT BATOK ST 21'
 'BT BATOK WEST AVE 7' 'JLN BT HO SWEE' 'JLN RUMAH TINGGI' 'JLN BT MERAH'
 'TELOK BLANGAH WAY' 'TELOK BLANGAH HTS' 'TELOK BLANGAH CRES'
 'BT PURMEI RD' 'BT MERAH VIEW' 'TELOK BLANGAH DR' 'EVERTON PK'
 'CANTONMENT CL' 'KIM TIAN RD' 'HAVELOCK RD' 'TELOK BLANGAH ST 31'
 'TIONG BAHRU RD' 'TELOK BLANGAH RISE' 'DEPOT RD' 'JLN MEMBINA'
 'DELTA AVE' 'REDHILL CL' 'REDHILL RD' 'PUNGGOL WALK' 'BOON TIONG RD'
 'BT MERAH CTRL' 'PETIR RD' 'PENDING RD' 'GANGSA RD' 'SENJA RD'
 'BT PANJANG RING RD' 'FAJAR RD' 'BANGKIT RD' 'CASHEW RD' 'JELAPANG RD'
 'SEGAR RD' 'LOMPANG RD' 'JELEBU RD' 'TOH YI DR' 'VEERASAMY RD'
 'CHANDER RD' 'NEW MKT RD' 'SAGO LANE' 'TG PAGAR PLAZA' 'UPP CROSS ST'
 'BAIN ST' 'CANTONMENT RD' 'KLANG LANE' 'TECK WHYE LANE' 'TECK WHYE AVE'
 'CHOA CHU KANG AVE 5' 'CHOA CHU KANG CRES' 'CHOA CHU KANG AVE 3'
 'JLN TECK WHYE' 'CHOA CHU KANG AVE 2' 'CHOA CHU KANG AVE 4'
 'CHOA CHU KANG ST 52' 'CHOA CHU KANG CTRL' 'CHOA CHU KANG ST 62'
 'CHOA CHU KANG DR' 'CHOA CHU KANG ST 51' 'CHOA CHU KANG ST 54'
 'CHOA CHU KANG LOOP' 'CHOA CHU KANG NTH 5' 'CLEMENTI WEST ST 2'
 'CLEMENTI WEST ST 1' 'WEST COAST RD' 'CLEMENTI AVE 4' 'CLEMENTI AVE 3'
 'CLEMENTI AVE 5' 'CLEMENTI AVE 1' 'WEST COAST DR' 'CLEMENTI ST 14'
 "C'WEALTH AVE WEST" 'CLEMENTI ST 13' 'CLEMENTI AVE 2' 'CIRCUIT RD'
 'MACPHERSON LANE' 'EUNOS CRES' 'ALJUNIED CRES' 'UBI AVE 1' 'SIMS PL'
 'HAIG RD' 'SIMS DR' 'PIPIT RD' 'EUNOS RD 5' 'GEYLANG SERAI' 'PINE CL'
 'CASSIA CRES' 'GEYLANG EAST AVE 1' 'HOUGANG AVE 8' 'HOUGANG AVE 2'
 'HOUGANG AVE 3' 'HOUGANG ST 22' 'HOUGANG AVE 1' 'HOUGANG ST 11'
 'HOUGANG AVE 7' 'HOUGANG AVE 5' 'BUANGKOK CRES' 'HOUGANG AVE 10'
 'HOUGANG AVE 6' 'HOUGANG AVE 9' 'HOUGANG ST 91' 'BUANGKOK LINK'
 'HOUGANG ST 51' 'LOR AH SOO' 'HOUGANG ST 52' 'HOUGANG ST 61'
 'HOUGANG ST 21' 'HOUGANG ST 92' 'HOUGANG AVE 4' 'UPP SERANGOON RD'
 'HOUGANG CTRL' 'JURONG EAST ST 24' 'JURONG EAST ST 21' 'PANDAN GDNS'
 'JURONG EAST ST 31' 'JURONG EAST AVE 1' 'JURONG EAST ST 32'
 'TEBAN GDNS RD' 'JURONG EAST ST 13' 'TOH GUAN RD' 'BOON LAY DR'
 'BOON LAY AVE' 'HO CHING RD' 'BOON LAY PL' 'JURONG WEST ST 42'
 'YUAN CHING RD' 'JURONG WEST ST 41' 'JURONG WEST AVE 1' 'KANG CHING RD'
 'JURONG WEST ST 52' 'JURONG WEST ST 25' 'JURONG WEST AVE 3'
 'JURONG WEST ST 71' 'JURONG WEST ST 81' 'JURONG WEST AVE 5'
 'JURONG WEST ST 91' 'JURONG WEST ST 93' 'JURONG WEST ST 65'
 'JURONG WEST ST 75' 'YUNG AN RD' 'JURONG WEST ST 73' 'JURONG WEST ST 61'
 'JURONG WEST ST 64' 'CORPORATION DR' 'JURONG WEST ST 74' 'TAH CHING RD'
 'JURONG WEST CTRL 1' 'YUNG SHENG RD' 'JURONG WEST ST 62' 'YUNG PING RD'
 'YUNG HO RD' 'WHAMPOA DR' 'JLN BAHAGIA' 'GEYLANG BAHRU' 'BENDEMEER RD'
 "ST. GEORGE'S LANE" 'JLN BATU' 'BEACH RD' 'CRAWFORD LANE' 'DORSET RD'
 'RACE COURSE RD' 'TOWNER RD' 'WHAMPOA STH' 'MCNAIR RD' 'WHAMPOA RD'
 'TESSENSOHN RD' 'UPP BOON KENG RD' 'BOON KENG RD' 'FARRER PK RD'
 'JLN DUSUN' 'JLN TENTERAM' 'MARINE DR' "ST. GEORGE'S RD" 'JLN RAJAH'
 'MARINE TER' 'MARINE CRES' 'CHANGI VILLAGE RD' 'PASIR RIS ST 51'
 'PASIR RIS ST 71' 'PASIR RIS ST 12' 'PASIR RIS ST 21' 'PASIR RIS DR 1'
 'PASIR RIS DR 10' 'PASIR RIS ST 11' 'PASIR RIS DR 6' 'PASIR RIS ST 13'
 'PASIR RIS DR 4' 'PASIR RIS DR 3' 'ELIAS RD' 'PASIR RIS ST 52'
 'PASIR RIS ST 53' 'PUNGGOL PL' 'EDGEDALE PLAINS' 'EDGEFIELD PLAINS'
 'PUNGGOL FIELD' 'PUNGGOL EAST' 'PUNGGOL RD' 'PUNGGOL DR' "C'WEALTH DR"
 'HOLLAND DR' 'STIRLING RD' 'GHIM MOH RD' "C'WEALTH CRES" 'MEI LING ST'
 'DOVER CRES' 'HOLLAND AVE' 'HOLLAND CL' 'TANGLIN HALT RD' 'QUEENSWAY'
 'STRATHMORE AVE' "C'WEALTH AVE" 'GHIM MOH LINK' "QUEEN'S CL"
 'SEMBAWANG CL' 'WELLINGTON CIRCLE' 'SEMBAWANG DR' 'ADMIRALTY LINK'
 'CANBERRA RD' 'ADMIRALTY DR' 'MONTREAL DR' 'SEMBAWANG CRES'
 'ANCHORVALE LINK' 'COMPASSVALE LANE' 'FERNVALE RD' 'RIVERVALE DR'
 'RIVERVALE CRES' 'RIVERVALE ST' 'RIVERVALE WALK' 'COMPASSVALE WALK'
 'COMPASSVALE CRES' 'ANCHORVALE DR' 'ANCHORVALE RD' 'COMPASSVALE DR'
 'COMPASSVALE ST' 'SENGKANG CTRL' 'COMPASSVALE BOW' 'COMPASSVALE RD'
 'COMPASSVALE LINK' 'SENGKANG WEST AVE' 'SENGKANG EAST WAY'
 'FERNVALE LANE' 'FERNVALE LINK' 'SERANGOON NTH AVE 1' 'LOR LEW LIAN'
 'SERANGOON AVE 2' 'SERANGOON CTRL' 'SERANGOON CTRL DR'
 'SERANGOON NTH AVE 3' 'SERANGOON NTH AVE 4' 'SERANGOON AVE 4'
 'SERANGOON AVE 3' 'SERANGOON AVE 1' 'TAMPINES ST 41' 'TAMPINES ST 21'
 'TAMPINES ST 82' 'TAMPINES AVE 4' 'TAMPINES ST 43' 'TAMPINES ST 11'
 'TAMPINES ST 22' 'TAMPINES ST 81' 'TAMPINES ST 12' 'TAMPINES ST 33'
 'TAMPINES ST 71' 'SIMEI ST 1' 'TAMPINES ST 84' 'TAMPINES AVE 9'
 'TAMPINES AVE 5' 'TAMPINES ST 45' 'TAMPINES ST 72' 'TAMPINES ST 23'
 'TAMPINES ST 91' 'TAMPINES AVE 8' 'SIMEI ST 4' 'SIMEI LANE'
 'TAMPINES ST 34' 'SIMEI RD' 'TAMPINES ST 83' 'SIMEI ST 2'
 'TAMPINES CTRL 7' 'TAMPINES ST 32' 'LOR 6 TOA PAYOH' 'KIM KEAT AVE'
 'LOR 4 TOA PAYOH' 'LOR 7 TOA PAYOH' 'POTONG PASIR AVE 1' 'TOA PAYOH EAST'
 'LOR 2 TOA PAYOH' 'LOR 1 TOA PAYOH' 'TOA PAYOH CTRL' 'TOA PAYOH NTH'
 'POTONG PASIR AVE 2' 'LOR 8 TOA PAYOH' 'KIM KEAT LINK' 'JOO SENG RD'
 'MARSILING CRES' 'WOODLANDS DR 52' 'WOODLANDS AVE 1' 'WOODLANDS DR 53'
 'WOODLANDS DR 42' 'WOODLANDS ST 32' 'WOODLANDS DR 62' 'WOODLANDS DR 73'
 'WOODLANDS DR 72' 'YISHUN ST 71' 'ANG MO KIO ST 32' 'ANG MO KIO ST 11'
 'LENGKONG TIGA' 'BISHAN ST 22' 'BRIGHT HILL DR' 'BT BATOK ST 51'
 'BT BATOK ST 22' 'TAMAN HO SWEE' 'HOY FATT RD' 'SILAT AVE' 'KIM PONG RD'
 'KIM CHENG ST' 'HENDERSON CRES' 'LENGKOK BAHRU' 'SPOTTISWOODE PK RD'
 'KIM TIAN PL' 'SAUJANA RD' 'SENJA LINK' "QUEEN'S RD" 'BUFFALO RD'
 'CHOA CHU KANG NTH 6' 'CHOA CHU KANG ST 64' 'CLEMENTI ST 12'
 'CLEMENTI AVE 6' 'PAYA LEBAR WAY' 'BALAM RD' 'JLN TIGA'
 'GEYLANG EAST CTRL' 'DAKOTA CRES' 'JURONG WEST ST 51' 'JURONG WEST ST 24'
 'JURONG WEST ST 92' 'LOR LIMAU' 'KALLANG BAHRU' 'WHAMPOA WEST'
 'KG KAYU RD' 'NTH BRIDGE RD' 'FRENCH RD' 'GLOUCESTER RD' 'KG ARANG RD'
 "JLN MA'MOR" 'MOULMEIN RD' 'KENT RD' 'CAMBRIDGE RD' 'AH HOOD RD'
 'PASIR RIS ST 72' "C'WEALTH CL" 'DOVER RD' 'SEMBAWANG VISTA' 'JLN KAYU'
 'SENGKANG EAST RD' 'ANCHORVALE LANE' 'SERANGOON NTH AVE 2'
 'TAMPINES ST 42' 'SIMEI ST 5' 'TAMPINES CTRL 1' 'TAMPINES AVE 7'
 'TAMPINES ST 24' 'LOR 5 TOA PAYOH' 'LOR 3 TOA PAYOH' 'POTONG PASIR AVE 3'
 'LOR 1A TOA PAYOH' 'WOODLANDS AVE 9' 'YISHUN CTRL 1' 'ANG MO KIO ST 31'
 'BEDOK NTH ST 4' 'LOWER DELTA RD' 'BEO CRES' 'QUEEN ST' 'CHIN SWEE RD'
 'ROWELL RD' 'CHOA CHU KANG AVE 1' 'CHOA CHU KANG ST 53' 'JLN DUA'
 'HOUGANG ST 31' 'PUNGGOL FIELD WALK' 'DOVER CL EAST' 'CLARENCE LANE'
 'CANBERRA LINK' 'TAMPINES ST 44' 'UPP ALJUNIED LANE' 'WOODLANDS ST 11'
 'ANG MO KIO AVE 2' 'JLN KLINIK' 'INDUS RD' 'EMPRESS RD' 'JLN KUKOH'
 'SELEGIE RD' 'KELANTAN RD' 'OLD AIRPORT RD' 'SIMS AVE'
 'JURONG WEST ST 72' 'OWEN RD' 'WOODLANDS AVE 3' 'SIN MING RD'
 'REDHILL LANE' 'WATERLOO ST' 'ALJUNIED RD' 'TAO CHING RD' 'YUNG LOH RD'
 "KING GEORGE'S AVE" 'JELLICOE RD' 'PASIR RIS ST 41' 'FARRER RD'
 'CHOA CHU KANG NTH 7' 'MOH GUAN TER' 'SMITH ST' 'LOR 3 GEYLANG'
 'LIM LIAK ST' 'JLN BERSEH' 'CLEMENTI ST 11' 'JOO CHIAT RD'
 'SENGKANG WEST WAY' 'BUANGKOK GREEN' 'ZION RD' 'SEMBAWANG WAY'
 'PUNGGOL WAY' 'YISHUN ST 31' 'TECK WHYE CRES' 'KRETA AYER RD'
 'MONTREAL LINK' 'UPP SERANGOON CRES' 'SUMANG LINK' 'SENGKANG EAST AVE'
 'YISHUN AVE 1' 'ANCHORVALE CRES' 'YUNG KUANG RD' 'ANCHORVALE ST'
 'BT MERAH LANE 1' 'TAMPINES CTRL 8' 'YISHUN ST 51' 'UPP SERANGOON VIEW'
 'TAMPINES AVE 1' 'BEDOK RESERVOIR CRES' 'ANG MO KIO ST 61' 'DAWSON RD'
 'FERNVALE ST' 'SENG POH RD' 'HOUGANG ST 32' 'TAMPINES ST 86'
 'HENDERSON RD' 'SUMANG WALK' 'CHOA CHU KANG AVE 7' 'KEAT HONG CL'
 'JURONG WEST CTRL 3' 'KEAT HONG LINK' 'ALJUNIED AVE 2' 'CANBERRA CRES'
 'WOODLANDS CTR RD' 'MARINE PARADE CTRL' 'ROCHOR RD' 'JLN PASAR BARU'
 'SELETAR WEST FARMWAY 6' 'MARGARET DR' 'EAST COAST RD' 'KG BAHRU HILL'
 'GEYLANG EAST AVE 2' 'HILLVIEW AVE' 'OUTRAM PK' 'SHORT ST' 'HU CHING RD'
 'LIM CHU KANG RD' 'NILE RD' 'JLN MEMBINA BARAT' 'BUANGKOK STH FARMWAY 1'
 'ALEXANDRA RD' 'SEMBAWANG RD' 'OUTRAM HILL']
=======remaining_lease=======

['77 years 01 month' '57 years 10 months' '58 years' '79 years 07 months'
 '86 years' '71 years 08 months' '79 years 06 months' '85 years 10 months'
 '85 years' '78 years 01 month' '63 years 02 months' '79 years 09 months'
 '79 years' '78 years 05 months' '80 years' '82 years 02 months'
 '80 years 09 months' '82 years 04 months' '82 years 08 months'
 '80 years 03 months' '78 years 07 months' '79 years 03 months'
 '80 years 10 months' '78 years 10 months' '82 years 06 months'
 '74 years 11 months' '84 years 11 months' '83 years 01 month' '78 years'
 '79 years 05 months' '82 years' '79 years 04 months' '84 years 10 months'
 '79 years 01 month' '80 years 08 months' '78 years 03 months'
 '68 years 03 months' '82 years 03 months' '67 years 09 months'
 '83 years 07 months' '81 years' '75 years 10 months' '77 years'
 '77 years 05 months' '76 years 01 month' '71 years 02 months'
 '66 years 08 months' '66 years 06 months' '74 years 03 months'
 '68 years 11 months' '66 years 10 months' '70 years 06 months'
 '67 years 06 months' '65 years 10 months' '66 years 01 month'
 '71 years 05 months' '69 years 10 months' '70 years 01 month' '67 years'
 '69 years 11 months' '70 years 04 months' '65 years 11 months'
 '65 years 04 months' '95 years 05 months' '70 years 08 months'
 '67 years 07 months' '70 years 07 months' '66 years 09 months'
 '66 years 07 months' '69 years 08 months' '66 years 11 months'
 '67 years 01 month' '70 years 02 months' '69 years 05 months'
 '69 years 09 months' '70 years 03 months' '70 years 05 months'
 '67 years 04 months' '69 years 04 months' '67 years 08 months'
 '69 years 07 months' '64 years 03 months' '69 years' '71 years 01 month'
 '76 years 11 months' '94 years 04 months' '69 years 06 months'
 '82 years 10 months' '94 years 05 months' '82 years 09 months'
 '68 years 02 months' '67 years 03 months' '68 years 09 months'
 '68 years 10 months' '70 years' '82 years 07 months' '67 years 11 months'
 '62 years 02 months' '59 years 09 months' '61 years 10 months'
 '62 years 10 months' '62 years 06 months' '60 years 09 months'
 '62 years 05 months' '63 years 01 month' '62 years 09 months'
 '61 years 09 months' '66 years 05 months' '61 years 03 months'
 '60 years 01 month' '60 years' '61 years 04 months' '61 years 05 months'
 '62 years 07 months' '62 years 08 months' '59 years 03 months'
 '59 years 02 months' '60 years 10 months' '63 years' '62 years 04 months'
 '60 years 05 months' '62 years 03 months' '63 years 10 months'
 '60 years 04 months' '59 years 01 month' '84 years 09 months'
 '85 years 05 months' '93 years 04 months' '74 years' '77 years 11 months'
 '84 years 08 months' '60 years 02 months' '54 years 03 months' '68 years'
 '65 years 08 months' '68 years 08 months' '60 years 07 months'
 '61 years 02 months' '64 years 09 months' '59 years 11 months'
 '57 years 09 months' '64 years 01 month' '55 years 10 months'
 '64 years 02 months' '65 years 09 months' '61 years 01 month' '62 years'
 '92 years 01 month' '59 years 05 months' '67 years 02 months'
 '69 years 03 months' '62 years 01 month' '66 years' '87 years 09 months'
 '60 years 03 months' '78 years 09 months' '78 years 06 months'
 '75 years 02 months' '75 years 11 months' '59 years 06 months'
 '67 years 10 months' '71 years 07 months' '74 years 04 months'
 '69 years 02 months' '71 years 10 months' '80 years 02 months'
 '93 years 05 months' '68 years 07 months' '68 years 04 months'
 '67 years 05 months' '93 years' '66 years 02 months' '68 years 06 months'
 '70 years 11 months' '66 years 03 months' '79 years 10 months'
 '70 years 10 months' '86 years 09 months' '86 years 11 months'
 '86 years 07 months' '75 years' '53 years 03 months' '51 years 04 months'
 '57 years 01 month' '58 years 05 months' '57 years 02 months'
 '57 years 08 months' '94 years' '52 years 09 months' '55 years 03 months'
 '63 years 07 months' '59 years 10 months' '94 years 10 months'
 '95 years 01 month' '95 years 04 months' '54 years 10 months'
 '54 years 09 months' '58 years 06 months' '87 years 10 months'
 '79 years 02 months' '90 years 09 months' '87 years 07 months'
 '87 years 08 months' '95 years' '87 years 06 months' '59 years 07 months'
 '95 years 09 months' '95 years 08 months' '84 years' '70 years 09 months'
 '84 years 07 months' '84 years 01 month' '94 years 07 months'
 '80 years 01 month' '79 years 08 months' '80 years 11 months'
 '86 years 06 months' '83 years 09 months' '83 years 08 months'
 '85 years 01 month' '84 years 04 months' '71 years' '80 years 07 months'
 '80 years 05 months' '86 years 08 months' '80 years 04 months'
 '81 years 02 months' '57 years' '71 years 03 months' '64 years 11 months'
 '56 years 03 months' '58 years 10 months' '92 years 09 months'
 '84 years 03 months' '92 years 10 months' '63 years 05 months' '61 years'
 '95 years 03 months' '71 years 06 months' '81 years 06 months'
 '81 years 04 months' '76 years' '76 years 08 months' '72 years 02 months'
 '72 years 03 months' '81 years 01 month' '81 years 08 months'
 '71 years 11 months' '76 years 07 months' '76 years 02 months'
 '81 years 10 months' '78 years 02 months' '75 years 03 months'
 '77 years 09 months' '77 years 04 months' '61 years 07 months'
 '60 years 11 months' '60 years 08 months' '95 years 06 months'
 '88 years 09 months' '94 years 03 months' '48 years 09 months'
 '50 years 02 months' '57 years 04 months' '82 years 01 month'
 '58 years 03 months' '62 years 11 months' '93 years 08 months'
 '69 years 01 month' '57 years 03 months' '65 years 06 months'
 '94 years 01 month' '68 years 01 month' '64 years 06 months'
 '64 years 07 months' '85 years 02 months' '85 years 11 months'
 '74 years 06 months' '68 years 05 months' '65 years 01 month'
 '71 years 04 months' '72 years 08 months' '85 years 03 months'
 '78 years 11 months' '74 years 05 months' '81 years 07 months'
 '64 years 10 months' '65 years' '63 years 11 months' '65 years 02 months'
 '63 years 03 months' '75 years 04 months' '66 years 04 months'
 '57 years 06 months' '52 years 05 months' '58 years 07 months'
 '53 years 09 months' '56 years 02 months' '58 years 01 month'
 '58 years 09 months' '93 years 11 months' '64 years' '83 years 11 months'
 '72 years 10 months' '75 years 05 months' '77 years 03 months'
 '84 years 06 months' '72 years' '78 years 04 months' '77 years 07 months'
 '72 years 04 months' '90 years 02 months' '88 years 01 month'
 '83 years 02 months' '83 years 03 months' '58 years 02 months' '83 years'
 '83 years 05 months' '90 years 04 months' '83 years 04 months'
 '64 years 04 months' '72 years 07 months' '55 years 09 months'
 '52 years 02 months' '56 years' '56 years 06 months' '55 years 11 months'
 '50 years 09 months' '63 years 06 months' '88 years 06 months'
 '86 years 02 months' '88 years 04 months' '58 years 04 months'
 '63 years 08 months' '57 years 11 months' '92 years 11 months'
 '56 years 09 months' '56 years 10 months' '56 years 11 months'
 '75 years 06 months' '75 years 08 months' '71 years 09 months'
 '76 years 10 months' '78 years 08 months' '74 years 09 months'
 '77 years 02 months' '74 years 08 months' '76 years 06 months'
 '94 years 11 months' '85 years 07 months' '85 years 04 months'
 '84 years 05 months' '85 years 06 months' '90 years 11 months'
 '89 years 08 months' '94 years 08 months' '92 years 04 months'
 '94 years 09 months' '85 years 08 months' '85 years 09 months'
 '86 years 01 month' '52 years 04 months' '51 years 09 months'
 '56 years 01 month' '88 years 05 months' '88 years 07 months'
 '86 years 04 months' '86 years 05 months' '82 years 05 months'
 '82 years 11 months' '81 years 03 months' '89 years 03 months'
 '93 years 10 months' '95 years 02 months' '93 years 07 months'
 '91 years 11 months' '86 years 10 months' '91 years 08 months'
 '89 years 04 months' '84 years 02 months' '90 years 05 months'
 '91 years 04 months' '90 years 01 month' '91 years 02 months'
 '83 years 10 months' '94 years 06 months' '74 years 07 months'
 '64 years 08 months' '92 years' '77 years 10 months' '51 years 02 months'
 '49 years 03 months' '55 years 04 months' '52 years 03 months'
 '49 years 02 months' '80 years 06 months' '77 years 06 months'
 '75 years 09 months' '81 years 11 months' '83 years 06 months'
 '76 years 09 months' '74 years 02 months' '74 years 10 months'
 '61 years 06 months' '58 years 11 months' '61 years 08 months'
 '59 years 04 months' '59 years' '93 years 03 months' '55 years 08 months'
 '54 years 02 months' '64 years 05 months' '61 years 11 months'
 '60 years 06 months' '73 years 11 months' '51 years 08 months'
 '49 years 01 month' '57 years 07 months' '54 years 08 months'
 '56 years 08 months' '81 years 05 months' '90 years 07 months'
 '87 years 05 months' '90 years 08 months' '59 years 08 months'
 '88 years 08 months' '95 years 07 months' '92 years 08 months'
 '81 years 09 months' '65 years 07 months' '63 years 04 months'
 '88 years 02 months' '94 years 02 months' '52 years 08 months'
 '54 years 04 months' '48 years 08 months' '50 years 08 months'
 '50 years 01 month' '87 years' '72 years 01 month' '65 years 03 months'
 '65 years 05 months' '73 years 02 months' '56 years 05 months'
 '75 years 01 month' '72 years 09 months' '75 years 07 months'
 '90 years 03 months' '72 years 05 months' '55 years 02 months'
 '53 years 08 months' '58 years 08 months' '88 years 03 months'
 '77 years 08 months' '89 years 07 months' '92 years 02 months'
 '92 years 03 months' '89 years 02 months' '93 years 09 months'
 '91 years 10 months' '93 years 06 months' '91 years 03 months'
 '91 years 07 months' '91 years 01 month' '53 years 10 months'
 '52 years 10 months' '53 years 02 months' '51 years 01 month'
 '79 years 11 months' '93 years 02 months' '54 years 01 month'
 '56 years 07 months' '74 years 01 month' '73 years 10 months'
 '50 years 07 months' '55 years 01 month' '53 years 01 month'
 '52 years 01 month' '87 years 04 months' '90 years 06 months'
 '92 years 07 months' '52 years 07 months' '48 years 07 months'
 '56 years 04 months' '51 years 10 months' '87 years 11 months' '90 years'
 '52 years' '55 years 07 months' '95 years 10 months' '89 years 06 months'
 '51 years 07 months' '54 years 11 months' '96 years 08 months'
 '89 years 01 month' '91 years 06 months' '91 years 09 months' '91 years'
 '76 years 05 months' '53 years 07 months' '50 years' '49 years'
 '51 years' '54 years 07 months' '90 years 10 months' '63 years 09 months'
 '54 years' '93 years 01 month' '86 years 03 months' '52 years 06 months'
 '55 years' '51 years 06 months' '54 years 06 months' '87 years 03 months'
 '55 years 06 months' '92 years 06 months' '76 years 04 months'
 '48 years 06 months' '50 years 06 months' '73 years 01 month'
 '89 years 11 months' '72 years 06 months' '53 years 06 months'
 '76 years 03 months' '89 years 05 months' '96 years 07 months'
 '51 years 11 months' '89 years 10 months' '91 years 05 months'
 '48 years 11 months' '50 years 11 months' '53 years 11 months'
 '57 years 05 months' '73 years 09 months' '73 years 08 months'
 '48 years 10 months' '51 years 05 months' '54 years 05 months'
 '52 years 11 months' '87 years 02 months' '55 years 05 months'
 '92 years 05 months' '49 years 10 months' '50 years 05 months'
 '48 years 05 months' '53 years 05 months' '89 years' '96 years 06 months'
 '89 years 09 months' '49 years 11 months' '50 years 10 months'
 '73 years 07 months' '87 years 01 month' '48 years 04 months'
 '49 years 09 months' '50 years 04 months' '53 years 04 months'
 '88 years 11 months' '96 years 05 months' '88 years' '88 years 10 months'
 '73 years 06 months' '48 years 03 months' '49 years 08 months' '48 years'
 '51 years 03 months' '96 years 04 months' '49 years 07 months'
 '48 years 02 months' '50 years 03 months' '96 years 03 months'
 '73 years 05 months' '73 years 04 months' '48 years 01 month'
 '49 years 06 months' '96 years 02 months' '49 years 05 months'
 '47 years 09 months' '53 years' '96 years 01 month' '47 years 11 months'
 '96 years' '95 years 11 months' '47 years 10 months' '73 years'
 '73 years 03 months' '72 years 11 months' '47 years 08 months'
 '47 years 04 months' '47 years 07 months' '47 years 06 months'
 '47 years 05 months' '49 years 04 months' '47 years 02 months'
 '47 years 03 months' '47 years 01 month' '47 years' '46 years 11 months'
 '46 years 10 months' '46 years 09 months' '46 years 08 months'
 '66 years 0 months' '95 years 0 months' '46 years 07 months'
 '46 years 06 months' '46 years 03 months' '93 years 0 months'
 '46 years 05 months' '46 years 04 months' '46 years 01 month'
 '46 years 02 months' '46 years' '45 years 09 months' '45 years 11 months'
 '45 years 10 months' '45 years 07 months' '45 years 08 months'
 '97 years 01 month' '45 years 06 months' '97 years 09 months'
 '45 years 05 months' '45 years 04 months' '97 years' '97 years 07 months'
 '45 years 03 months' '45 years 02 months' '00 years' '96 years 09 months'
 '45 years 01 month' '44 years 10 months' '97 years 05 months'
 '97 years 04 months' '45 years' '44 years 11 months' '97 years 02 months'
 '97 years 03 months' '44 years 09 months' '44 years 08 months'
 '96 years 11 months' '44 years 07 months' '44 years 06 months'
 '96 years 10 months' '44 years 05 months' '70' '65' '64' '63' '62' '69'
 '60' '61' '86' '77' '80' '90' '87' '66' '58' '94' '71' '68' '84' '73'
 '79' '76' '72' '82' '74' '67' '88' '81' '89' '53' '54' '55' '57' '93'
 '83' '85' '92' '91' '59' '95' '52' '51' '56' '75' '96' '78' '50' '97'
 '49' '48' nan]
=======storey_range=======
['04 TO 06' '16 TO 18' '01 TO 03' '10 TO 12' '07 TO 09' '13 TO 15'
 '25 TO 27' '28 TO 30' '19 TO 21' '22 TO 24' '31 TO 33' '37 TO 39'
 '34 TO 36' '43 TO 45' '46 TO 48' '49 TO 51' '40 TO 42' '06 TO 10'
 '01 TO 05' '11 TO 15' '16 TO 20' '21 TO 25' '26 TO 30' '36 TO 40'
 '31 TO 35']
=======block=======
['139' '9' '10' ... '860B' '10C' '645A']

In [38]:
# focus on flat_type, flat_model which have redundant titles
# focus on flat_type, flat_model which have redundant titles
def labeler(feat):
    temp = []
    for value in df[feat].unique():
        if value != ' '.join(re.findall( r'\w+', value.upper())):
                df[feat].replace(value,' '.join(re.findall( r'\w+', value.upper())),inplace=True)

In [39]:
for feat in ['flat_type', 'flat_model']:
    labeler(feat)

### Remaining Lease

Assign the remaining_lease based on 99 year lease for each HDB

In [54]:
df['remaining_lease'] = df['lease_commence_date'].dt.year + 99 - df['month'].dt.year

### Create a .csv of raw data

In [22]:
df.to_csv('hdb_resale.csv',index=False)

## Getting location data from OneMap

In [20]:
# Now, the next part gets a little tricky. We need to find the nearest MRT station the HDB unit is located in using their geo-location coordinates (Latitude, Longitude). We will use another API to achieve this - the OneMap API.

# First let's create a list of all the MRT stations in Singapore. 
# Since MRT stations change relatively slowly overtime, we can leverage a static list. 
# I obtained the data from Wikipedia, which also provides data on upcoming MRT stations.
# We will only consider existing MRT stations for now.
list_of_mrt = [
    'Jurong East MRT Station',
    'Bukit Batok MRT Station',
    'Bukit Gombak MRT Station',
    'Choa Chu Kang MRT Station',
    'Yew Tee MRT Station',
    'Kranji MRT Station',
    'Marsiling MRT Station',
    'Woodlands MRT Station',
    'Admiralty MRT Station',
    'Sembawang MRT Station',
    'Canberra MRT Station',
    'Yishun MRT Station',
    'Khatib MRT Station',
    'Yio Chu Kang MRT Station',
    'Ang Mo Kio MRT Station',
    'Bishan MRT Station',
    'Braddell MRT Station',
    'Toa Payoh MRT Station',
    'Novena MRT Station',
    'Newton MRT Station',
    'Orchard MRT Station',
    'Somerset MRT Station',
    'Dhoby Ghaut MRT Station',
    'City Hall MRT Station',
    'Raffles Place MRT Station',
    'Marina Bay MRT Station',
    'Marina South Pier MRT Station',
    'Pasir Ris MRT Station',
    'Tampines MRT Station',
    'Simei MRT Station',
    'Tanah Merah MRT Station',
    'Bedok MRT Station',
    'Kembangan MRT Station',
    'Eunos MRT Station',
    'Paya Lebar MRT Station',
    'Aljunied MRT Station',
    'Kallang MRT Station',
    'Lavender MRT Station',
    'Bugis MRT Station',
    'Tanjong Pagar MRT Station',
    'Outram Park MRT Station',
    'Tiong Bahru MRT Station',
    'Redhill MRT Station',
    'Queenstown MRT Station',
    'Commonwealth MRT Station',
    'Buona Vista MRT Station',
    'Dover MRT Station',
    'Clementi MRT Station',
    'Chinese Garden MRT Station',
    'Lakeside MRT Station',
    'Boon Lay MRT Station',
    'Pioneer MRT Station',
    'Joo Koon MRT Station',
    'Gul Circle MRT Station',
    'Tuas Crescent MRT Station',
    'Tuas West Road MRT Station',
    'Tuas Link MRT Station',
    'Expo MRT Station',
    'Changi Airport MRT Station',
    'HarbourFront MRT Station',
    'Chinatown MRT Station',
    'Clarke Quay MRT Station',
    'Little India MRT Station',
    'Farrer Park MRT Station',
    'Boon Keng MRT Station',
    'Potong Pasir MRT Station',
    'Woodleigh MRT Station',
    'Serangoon MRT Station',
    'Kovan MRT Station',
    'Hougang MRT Station',
    'Buangkok MRT Station',
    'Sengkang MRT Station',
    'Punggol MRT Station',
    'Bras Basah MRT Station',
    'Esplanade MRT Station',
    'Promenade MRT Station',
    'Nicoll Highway MRT Station',
    'Stadium MRT Station',
    'Mountbatten MRT Station',
    'Dakota MRT Station',
    'MacPherson MRT Station',
    'Tai Seng MRT Station',
    'Bartley MRT Station',
    'Lorong Chuan MRT Station',
    'Marymount MRT Station',
    'Caldecott MRT Station',
    'Botanic Gardens MRT Station',
    'Farrer Road MRT Station',
    'Holland Village MRT Station',
    'one-north MRT Station',
    'Kent Ridge MRT Station',
    'Haw Par Villa MRT Station',
    'Pasir Panjang MRT Station',
    'Labrador Park MRT Station',
    'Telok Blangah MRT Station',
    'Bayfront MRT Station',
    'Bukit Panjang MRT Station',
    'Cashew MRT Station',
    'Hillview MRT Station',
    'Beauty World MRT Station',
    'King Albert Park MRT Station',
    'Sixth Avenue MRT Station',
    'Tan Kah Kee MRT Station',
    'Stevens MRT Station',
    'Rochor MRT Station',
    'Downtown MRT Station',
    'Telok Ayer MRT Station',
    'Fort Canning MRT Station',
    'Bencoolen MRT Station',
    'Jalan Besar MRT Station',
    'Bendemeer MRT Station',
    'Geylang Bahru MRT Station',
    'Mattar MRT Station',
    'Ubi MRT Station',
    'Kaki Bukit MRT Station',
    'Bedok North MRT Station',
    'Bedok Reservoir MRT Station',
    'Tampines West MRT Station',
    'Tampines East MRT Station',
    'Upper Changi MRT Station'
]


# In[10]:


list_of_shopping_mall = [
    '100 AM',
    '313@Somerset',
    'Aperia',
    'Balestier Hill Shopping Centre',
    'Bugis Cube',
    'Bugis Junction',
    'Bugis+',
    'Capitol Piazza',
    'Cathay Cineleisure Orchard',
    'City Gate',
    'City Square Mall',
    'CityLink Mall',
    'Clarke Quay Central',
    'Duo',
    'Far East Plaza',
    'Funan',
    'Great World City',
    'HDB Hub',
    'Holland Village Shopping Centre',
    'ION Orchard',
    'Junction 8',
    'Knightsbridge',
    'Liang Court',
    'Liat Towers',
    'Lucky Plaza',
    'Marina Bay Financial Centre Tower 3',
    'Marina Bay Link Mall',
    'Marina Bay Sands',
    'Marina One',
    'Marina Square',
    'Midpoint Orchard',
    'Millenia Walk',
    'Mustafa Centre',
    'Ngee Ann City',
    'Orchard Central',
    'Orchard Gateway',
    'Orchard Plaza',
    'Orchard Shopping Centre',
    'Palais Renaissance',
    'Peoples Park Centre',
    'People"s Park Complex',
    'Plaza Singapura',
    'PoMo',
    'Raffles City',
    'Scotts Square',
    'Serangoon Plaza',
    'Shaw House and Centre',
    'Sim Lim Square',
    'Singapore Shopping Centre',
    'Square 2',
    'Suntec City',
    'Tanglin Mall',
    'Tangs',
    'Tanjong Pagar Centre',
    'Tekka Centre',
    'The Centrepoint',
    'The Paragon',
    'The Poiz [2]',
    'The Shoppes at Marina Bay Sands',
    'The South Beach',
    'Thomson Plaza',
    'United Square, The Kids Learning Mall',
    'Velocity',
    'Wheelock Place',
    'Wisma Atria',
    'Zhongshan Mall',
    '112 Katong',
    'Bedok Mall',
    'Bedok Point',
    'Century Square',
    'Changi Airport',
    'Changi City Point',
    'City Plaza',
    'Djitsun Mall Bedok',
    'Downtown East',
    'East Village',
    'Eastpoint Mall',
    'Elias Mall',
    'Kallang Wave Mall',
    'Katong Square',
    'Katong V',
    'KINEX (formerly One KM Mall)',
    'Leisure Park Kallang',
    'Loyang Point',
    'Our Tampines Hub',
    'Parkway Parade',
    'Paya Lebar Square',
    'PLQ Mall',
    'Singapore Post Centre',
    'Tampines 1',
    'Tampines Mall',
    'The Flow',
    'White Sands',
    '888 Plaza',
    'Admiralty Place',
    'AMK Hub',
    'Beauty World Centre',
    'Beauty World Plaza',
    'Broadway Plaza',
    'Buangkok Square',
    'Bukit Panjang Plaza',
    'Bukit Timah Plaza',
    'Causeway Point',
    'Compass One',
    'Djitsun Mall',
    'Fajar Shopping Centre',
    'Greenridge Shopping Centre',
    'Greenwich V',
    'Heartland Mall',
    'Hillion Mall',
    'HillV2',
    'Hougang 1',
    'Hougang Green Shopping Mall',
    'Hougang Mall',
    'Jubilee Square',
    'Junction 10',
    'Junction 9',
    'Keat Hong Shopping Centre',
    'KKH The Retail Mall',
    'Limbang Shopping Centre',
    'Lot One',
    'Marsiling Mall',
    'myVillage @ Serangoon',
    'NEX',
    'North East',
    'North West',
    'Northpoint City',
    'Oasis Terraces',
    'Punggol Plaza',
    'Rail Mall',
    'Rivervale Mall',
    'Rivervale Plaza',
    'Sembawang Shopping Centre',
    'Sun Plaza',
    'Sunshine Place',
    'Teck Whye Shopping Centre',
    'The Midtown',
    'The Seletar Mall',
    'Upper Serangoon Shopping Centre',
    'Waterway Point',
    'West Mall',
    'Wisteria Mall',
    'Woodlands Mart',
    'Yew Tee Point',
    'Yew Tee Shopping Centre',
    'Yew Tee Square',
    'Alexandra Retail Centre',
    'HarbourFront Centre',
    'VivoCity',
    '321 Clementi',
    'Alexandra Central',
    'Anchorpoint',
    'Big Box',
    'Boon Lay Shopping Centre',
    'Fairprice Hub',
    'Gek Poh Shopping Centre',
    'Grantral Mall',
    'IMM',
    'JCube',
    'Jem',
    'Jurong Point',
    'OD Mall',
    'Pioneer Mall',
    'Queensway Shopping Centre',
    'Rochester Mall',
    'Taman Jurong Shopping Centre',
    'The Clementi Mall',
    'The Star Vista',
    'Tiong Bahru Plaza',
    'West Coast Plaza',
    'Westgate Mall',
]

In [39]:
# We will use the OneMap API to obtain the (lat, long) coordinates of each MRT station.
# Obtaining MRT coordinates in Singapore
mrt_building = []
mrt_lat = []
mrt_long = []


for i in range(0, len(list_of_mrt)):
    query_address = list_of_mrt[i]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)

    data_mrt=json.loads(resp.content)
    
    if data_mrt['found'] != 0:
        mrt_building.append(data_mrt["results"][0]["BUILDING"])
        mrt_lat.append(data_mrt["results"][0]["LATITUDE"])
        mrt_long.append(data_mrt["results"][0]["LONGITUDE"])

        print (str(query_address)+",Lat: "+data_mrt['results'][0]['LATITUDE'] +" Long: "+data_mrt['results'][0]['LONGITUDE'])

    else:
        mrt_building.append('NotFound')
        mrt_lat.append('NotFound')
        mrt_long.append('NotFound')
        print ("No Results")

# Store this information in a dataframe
mrt_location = pd.DataFrame({
    'MRT': list_of_mrt,
    'Building': mrt_building,
    'Latitude': mrt_lat,
    'Longitude': mrt_long
})

Jurong East MRT Station,Lat: 1.33315281585758 Long: 103.742286332403
Bukit Batok MRT Station,Lat: 1.34903331201636 Long: 103.749566478309
Bukit Gombak MRT Station,Lat: 1.35861159094192 Long: 103.751790910733
Choa Chu Kang MRT Station,Lat: 1.38536316540225 Long: 103.744370779756
Yew Tee MRT Station,Lat: 1.39753506936297 Long: 103.747405150236
Kranji MRT Station,Lat: 1.42508698073648 Long: 103.762137459497
Marsiling MRT Station,Lat: 1.43252114855026 Long: 103.774074641403
Woodlands MRT Station,Lat: 1.43605761708128 Long: 103.787938777173
Admiralty MRT Station,Lat: 1.44058856161847 Long: 103.800990519771
Sembawang MRT Station,Lat: 1.44905082158502 Long: 103.820046140211
Canberra MRT Station,Lat: 1.44307664075699 Long: 103.829702590959
Yishun MRT Station,Lat: 1.42944308477331 Long: 103.835005047246
Khatib MRT Station,Lat: 1.41738337009565 Long: 103.832979908243
Yio Chu Kang MRT Station,Lat: 1.38175587099132 Long: 103.84494727118
Ang Mo Kio MRT Station,Lat: 1.36993284962264 Long: 103.849558091776
Bishan MRT Station,Lat: 1.35131580146658 Long: 103.84914026532
Braddell MRT Station,Lat: 1.3404690010277 Long: 103.846799083148
Toa Payoh MRT Station,Lat: 1.33262928096888 Long: 103.847502198048
Novena MRT Station,Lat: 1.32044079120154 Long: 103.843825618748
Newton MRT Station,Lat: 1.3123189224097 Long: 103.837984594021
Orchard MRT Station,Lat: 1.30242224836722 Long: 103.823868523249
Somerset MRT Station,Lat: 1.30026416739006 Long: 103.839085753124
Dhoby Ghaut MRT Station,Lat: 1.29891164362677 Long: 103.84629250696
City Hall MRT Station,Lat: 1.29298990700923 Long: 103.852542630339
Raffles Place MRT Station,Lat: 1.28393326234538 Long: 103.851463066212
Marina Bay MRT Station,Lat: 1.27631114381584 Long: 103.854604975361
Marina South Pier MRT Station,Lat: 1.27102703612006 Long: 103.862447515736
Pasir Ris MRT Station,Lat: 1.37304331635804 Long: 103.949284527763
Tampines MRT Station,Lat: 1.34551530560119 Long: 103.938436971222
Simei MRT Station,Lat: 1.34319707851829 Long: 103.953377214378
Tanah Merah MRT Station,Lat: 1.32718729074675 Long: 103.946348600798
Bedok MRT Station,Lat: 1.32040148729112 Long: 103.957183823478
Kembangan MRT Station,Lat: 1.3210381335934 Long: 103.912947930851
Eunos MRT Station,Lat: 1.31978354916088 Long: 103.903225807255
Paya Lebar MRT Station,Lat: 1.3172473854035 Long: 103.892260753884
Aljunied MRT Station,Lat: 1.3164326118157 Long: 103.882906044385
Kallang MRT Station,Lat: 1.31148890998818 Long: 103.871386541754
Lavender MRT Station,Lat: 1.30737781747063 Long: 103.862767633888
Bugis MRT Station,Lat: 1.30046508509717 Long: 103.855706730933
Tanjong Pagar MRT Station,Lat: 1.27656131737246 Long: 103.845725186759
Outram Park MRT Station,Lat: 1.2802415328084 Long: 103.840052100136
Tiong Bahru MRT Station,Lat: 1.28619457890544 Long: 103.826998939732
Redhill MRT Station,Lat: 1.28963453412887 Long: 103.81674097205
Queenstown MRT Station,Lat: 1.29455085184931 Long: 103.806077155982
Commonwealth MRT Station,Lat: 1.30250199924325 Long: 103.798228523336
Buona Vista MRT Station,Lat: 1.30627534823257 Long: 103.790363200126
Dover MRT Station,Lat: 1.31140529320963 Long: 103.778637841909
Clementi MRT Station,Lat: 1.31511625277378 Long: 103.765191452888
Chinese Garden MRT Station,Lat: 1.34235282081401 Long: 103.732596738363
Lakeside MRT Station,Lat: 1.34425911493819 Long: 103.720949087456
Boon Lay MRT Station,Lat: 1.33860405469845 Long: 103.706064622772
Pioneer MRT Station,Lat: 1.33758701106708 Long: 103.697321608474
Joo Koon MRT Station,Lat: 1.3277170408447 Long: 103.678374996165
Gul Circle MRT Station,Lat: 1.31947090075208 Long: 103.660530461345
Tuas Crescent MRT Station,Lat: 1.32102695598684 Long: 103.649078235627
Tuas West Road MRT Station,Lat: 1.32998504653102 Long: 103.639616648771
Tuas Link MRT Station,Lat: 1.34088242451105 Long: 103.636991425128
Expo MRT Station,Lat: 1.33538252614956 Long: 103.962374747451
Changi Airport MRT Station,Lat: 1.35747897447692 Long: 103.98788356959
HarbourFront MRT Station,Lat: 1.26538938374901 Long: 103.821530157095
Chinatown MRT Station,Lat: 1.28422391919085 Long: 103.845143798953
Clarke Quay MRT Station,Lat: 1.28745211415803 Long: 103.846119192727
Little India MRT Station,Lat: 1.30769844708108 Long: 103.850093622794
Farrer Park MRT Station,Lat: 1.31314029963164 Long: 103.854754721344
Boon Keng MRT Station,Lat: 1.31993957653291 Long: 103.862052698446
Potong Pasir MRT Station,Lat: 1.33137808528793 Long: 103.869363547741
Woodleigh MRT Station,Lat: 1.33919004519388 Long: 103.87081830915
Serangoon MRT Station,Lat: 1.35063361526525 Long: 103.872771660431
Kovan MRT Station,Lat: 1.36017917065237 Long: 103.885064856353
Hougang MRT Station,Lat: 1.37129226620797 Long: 103.892380513029
Buangkok MRT Station,Lat: 1.38287001971672 Long: 103.893122569706
Sengkang MRT Station,Lat: 1.39169462601522 Long: 103.895484694279
Punggol MRT Station,Lat: 1.41492733388605 Long: 103.910166388177
Bras Basah MRT Station,Lat: 1.29686168649656 Long: 103.850667371637
Esplanade MRT Station,Lat: 1.2936577245386 Long: 103.855081226245
Promenade MRT Station,Lat: 1.29399798636232 Long: 103.860350000188
Nicoll Highway MRT Station,Lat: 1.29976684675139 Long: 103.86363696572
Stadium MRT Station,Lat: 1.3028124684707 Long: 103.875337711089
Mountbatten MRT Station,Lat: 1.30620190525331 Long: 103.882528081052
Dakota MRT Station,Lat: 1.30854798388121 Long: 103.889064718377
MacPherson MRT Station,Lat: 1.32615024457361 Long: 103.889298600376
Tai Seng MRT Station,Lat: 1.33514150139202 Long: 103.888389300191
Bartley MRT Station,Lat: 1.34250117805245 Long: 103.880177899184
Lorong Chuan MRT Station,Lat: 1.35153128621585 Long: 103.864812169514
Marymount MRT Station,Lat: 1.348707263451 Long: 103.839423132332
Caldecott MRT Station,Lat: 1.33724561271722 Long: 103.840161782075
Botanic Gardens MRT Station,Lat: 1.32238699517166 Long: 103.815385463093
Farrer Road MRT Station,Lat: 1.31743915158967 Long: 103.807379214161
Holland Village MRT Station,Lat: 1.31224029631595 Long: 103.796399122407
one-north MRT Station,Lat: 1.29975987493555 Long: 103.78745750525
Kent Ridge MRT Station,Lat: 1.29353349887123 Long: 103.784572738173
Haw Par Villa MRT Station,Lat: 1.28195688684898 Long: 103.781988990137
Pasir Panjang MRT Station,Lat: 1.27621352233766 Long: 103.791350313288
Labrador Park MRT Station,Lat: 1.27236838626952 Long: 103.803416232089
Telok Blangah MRT Station,Lat: 1.27070647717762 Long: 103.809761611219
Bayfront MRT Station,Lat: 1.28187378879209 Long: 103.859079764874
Bukit Panjang MRT Station,Lat: 1.37956121236613 Long: 103.761188866252
Cashew MRT Station,Lat: 1.36981544925552 Long: 103.76443921414
Hillview MRT Station,Lat: 1.36234486803558 Long: 103.767418254007
Beauty World MRT Station,Lat: 1.34090149001429 Long: 103.775746717778
King Albert Park MRT Station,Lat: 1.335893496278 Long: 103.783235863233
Sixth Avenue MRT Station,Lat: 1.33085764536226 Long: 103.796906838288
Tan Kah Kee MRT Station,Lat: 1.32639224146351 Long: 103.806548201692
Stevens MRT Station,Lat: 1.32006555750626 Long: 103.826024401924
Rochor MRT Station,Lat: 1.30385218527656 Long: 103.852769428884
Downtown MRT Station,Lat: 1.27944638178916 Long: 103.852840829581
Telok Ayer MRT Station,Lat: 1.28206894769394 Long: 103.848648781083
Fort Canning MRT Station,Lat: 1.29248194822996 Long: 103.844331362465
Bencoolen MRT Station,Lat: 1.29891843369422 Long: 103.850353762717
Jalan Besar MRT Station,Lat: 1.3051713878069 Long: 103.855295713435
Bendemeer MRT Station,Lat: 1.31367252847691 Long: 103.862977620945
Geylang Bahru MRT Station,Lat: 1.32130110228321 Long: 103.871622627142
Mattar MRT Station,Lat: 1.32687671501334 Long: 103.883247509542
Ubi MRT Station,Lat: 1.32997425973974 Long: 103.899226655439
Kaki Bukit MRT Station,Lat: 1.33496735995428 Long: 103.908459338046
Bedok North MRT Station,Lat: 1.33474211664091 Long: 103.91797832995
Bedok Reservoir MRT Station,Lat: 1.33660782955099 Long: 103.932234623286
Tampines West MRT Station,Lat: 1.34551530560119 Long: 103.938436971222
Tampines East MRT Station,Lat: 1.35619148271544 Long: 103.9546344625
Upper Changi MRT Station,Lat: 1.34173977444995 Long: 103.961472788634

In [40]:
# Obtaining Mall Coordinates in Singapore
mall_name = []
mall_roadname = []
mall_lat = []
mall_long = []

for i in range(0, len(list_of_shopping_mall)):
    query_address = list_of_shopping_mall[i]
    query_string = 'https://developers.onemap.sg/commonapi/search?searchVal='+str(query_address)+'&returnGeom=Y&getAddrDetails=Y'
    resp = requests.get(query_string)
    data_mall=json.loads(resp.content)
    
    if data_mall['found'] != 0:
        mall_name.append(query_address)
        mall_roadname.append(data_mall["results"][0]["ROAD_NAME"])
        mall_lat.append(data_mall["results"][0]["LATITUDE"])
        mall_long.append(data_mall["results"][0]["LONGITUDE"])

        print (str(query_address)+" ,Lat: "+data_mall['results'][0]['LATITUDE'] +" Long: "+data_mall['results'][0]['LONGITUDE'])

    else:
        print ("No Results")

# Store this information in a dataframe
mall_location = pd.DataFrame({
    'Mall': mall_name,
    'RoadName': mall_roadname,
    'Latitude': mall_lat,
    'Longitude': mall_long
})

100 AM ,Lat: 1.27458821795426 Long: 103.84347073661
313@Somerset ,Lat: 1.30138510214714 Long: 103.837684350436
Aperia ,Lat: 1.3104736675734 Long: 103.86431321816
Balestier Hill Shopping Centre ,Lat: 1.32616307866261 Long: 103.843741438467
Bugis Cube ,Lat: 1.2981408343975 Long: 103.855635339249
Bugis Junction ,Lat: 1.30011789343093 Long: 103.856191571652
Bugis+ ,Lat: 1.30095171530648 Long: 103.855172625542
Capitol Piazza ,Lat: 1.29307884763132 Long: 103.851261982149
Cathay Cineleisure Orchard ,Lat: 1.30152101873533 Long: 103.836429655016
City Gate ,Lat: 1.30231590504573 Long: 103.862331661034
City Square Mall ,Lat: 1.31142103107683 Long: 103.856624019991
CityLink Mall ,Lat: 1.2927777312893 Long: 103.854173501417
No Results
Duo ,Lat: 1.29953434891664 Long: 103.85840168774
Far East Plaza ,Lat: 1.30717698071189 Long: 103.833792932243
Funan ,Lat: 1.29134759697794 Long: 103.849989790085
Great World City ,Lat: 1.29342273662815 Long: 103.832022135776
HDB Hub ,Lat: 1.33205485190481 Long: 103.848507643079
No Results
ION Orchard ,Lat: 1.30397974144505 Long: 103.832032328465
Junction 8 ,Lat: 1.3504812534505 Long: 103.848760473211
No Results
Liang Court ,Lat: 1.29065860407434 Long: 103.844547179775
Liat Towers ,Lat: 1.30508722710852 Long: 103.830722581168
Lucky Plaza ,Lat: 1.30450604646634 Long: 103.833962339817
Marina Bay Financial Centre Tower 3 ,Lat: 1.27912493489912 Long: 103.854457600432
Marina Bay Link Mall ,Lat: 1.28023825446086 Long: 103.853369662547
Marina Bay Sands ,Lat: 1.28345419690844 Long: 103.860809048956
Marina One ,Lat: 1.27790633974599 Long: 103.852851650485
Marina Square ,Lat: 1.29185533273026 Long: 103.85857808906
Midpoint Orchard ,Lat: 1.30178778502846 Long: 103.838659766022
Millenia Walk ,Lat: 1.29260544462492 Long: 103.859724944443
No Results
Ngee Ann City ,Lat: 1.30224168528687 Long: 103.835181912297
Orchard Central ,Lat: 1.30083890839245 Long: 103.839434733899
Orchard Gateway ,Lat: 1.30044325279546 Long: 103.839442780042
Orchard Plaza ,Lat: 1.30125729409965 Long: 103.841150144584
Orchard Shopping Centre ,Lat: 1.30149992510852 Long: 103.837888257002
Palais Renaissance ,Lat: 1.30665484543191 Long: 103.829588045188
Peoples Park Centre ,Lat: 1.28486980177486 Long: 103.842507723868
No Results
Plaza Singapura ,Lat: 1.30074770963916 Long: 103.845047573431
No Results
Raffles City ,Lat: 1.29389357863312 Long: 103.853119904656
Scotts Square ,Lat: 1.30579942993543 Long: 103.833074706219
Serangoon Plaza ,Lat: 1.31078075190145 Long: 103.855146819671
No Results
Sim Lim Square ,Lat: 1.30302426686761 Long: 103.853037818418
Singapore Shopping Centre ,Lat: 1.29815265394505 Long: 103.844111318107
Square 2 ,Lat: 1.32070510956845 Long: 103.844160709661
Suntec City ,Lat: 1.29546675589675 Long: 103.858585026016
Tanglin Mall ,Lat: 1.30484344196915 Long: 103.823852794772
Tangs ,Lat: 1.30495005564842 Long: 103.832971130126
Tanjong Pagar Centre ,Lat: 1.27658360696843 Long: 103.845936303594
Tekka Centre ,Lat: 1.30617773048079 Long: 103.850609985486
The Centrepoint ,Lat: 1.30197836876806 Long: 103.839759023144
The Paragon ,Lat: 1.30387230879994 Long: 103.835857545469
No Results
The Shoppes at Marina Bay Sands ,Lat: 1.28423496027027 Long: 103.858982282698
The South Beach ,Lat: 1.29498804392056 Long: 103.856276242094
Thomson Plaza ,Lat: 1.35436282723449 Long: 103.83030941613
No Results
Velocity ,Lat: 1.31929542501907 Long: 103.844191353077
Wheelock Place ,Lat: 1.30467628730252 Long: 103.830642027577
Wisma Atria ,Lat: 1.30370477426147 Long: 103.833205752808
Zhongshan Mall ,Lat: 1.32694504456951 Long: 103.846554377679
112 Katong ,Lat: 1.30520653617341 Long: 103.905046110228
Bedok Mall ,Lat: 1.32473632784728 Long: 103.929256259998
Bedok Point ,Lat: 1.32496142991054 Long: 103.932360131921
Century Square ,Lat: 1.35236829566862 Long: 103.943812302253
Changi Airport ,Lat: 1.34580556425439 Long: 103.982913693484
Changi City Point ,Lat: 1.33403637902708 Long: 103.962917615531
City Plaza ,Lat: 1.3147868971977 Long: 103.893472115119
Djitsun Mall Bedok ,Lat: 1.32611970329469 Long: 103.929554495615
Downtown East ,Lat: 1.37691412455433 Long: 103.955036748549
East Village ,Lat: 1.3317758150305 Long: 103.946201241591
Eastpoint Mall ,Lat: 1.34270592355576 Long: 103.953024618234
Elias Mall ,Lat: 1.37782876616465 Long: 103.942364336974
Kallang Wave Mall ,Lat: 1.30307515150401 Long: 103.873149707591
Katong Square ,Lat: 1.30513510179213 Long: 103.904307160288
Katong V ,Lat: 1.30385030375719 Long: 103.902850370889
No Results
Leisure Park Kallang ,Lat: 1.30230108405227 Long: 103.876473975883
Loyang Point ,Lat: 1.36645364010349 Long: 103.964598499523
Our Tampines Hub ,Lat: 1.35313359828812 Long: 103.940408135311
Parkway Parade ,Lat: 1.30106975506311 Long: 103.905279491524
Paya Lebar Square ,Lat: 1.31881487007651 Long: 103.892580778514
PLQ Mall ,Lat: 1.31756115921 Long: 103.892836694432
Singapore Post Centre ,Lat: 1.31899666903663 Long: 103.894894915962
Tampines 1 ,Lat: 1.35270160272274 Long: 103.942903567808
Tampines Mall ,Lat: 1.35252737278519 Long: 103.944698751072
The Flow ,Lat: 1.30457354662016 Long: 103.904203116447
White Sands ,Lat: 1.37244981663527 Long: 103.949715694737
888 Plaza ,Lat: 1.43712301500434 Long: 103.795314383823
Admiralty Place ,Lat: 1.43992345062736 Long: 103.80201525015
AMK Hub ,Lat: 1.36938922690344 Long: 103.84847796594
Beauty World Centre ,Lat: 1.34241264188642 Long: 103.776539385406
Beauty World Plaza ,Lat: 1.34180018619223 Long: 103.776259359854
Broadway Plaza ,Lat: 1.37193729131781 Long: 103.845949444498
Buangkok Square ,Lat: 1.38433426615655 Long: 103.881623070164
Bukit Panjang Plaza ,Lat: 1.37992045176243 Long: 103.764357180314
Bukit Timah Plaza ,Lat: 1.33875930729064 Long: 103.778600077834
Causeway Point ,Lat: 1.4360700650803 Long: 103.785981524253
Compass One ,Lat: 1.39205314156706 Long: 103.89507054384
Djitsun Mall ,Lat: 1.32611970329469 Long: 103.929554495615
Fajar Shopping Centre ,Lat: 1.38400582466296 Long: 103.771029603101
Greenridge Shopping Centre ,Lat: 1.38540569283271 Long: 103.766228468185
Greenwich V ,Lat: 1.38739539397015 Long: 103.869135978173
Heartland Mall ,Lat: 1.35954177325561 Long: 103.885167372726
Hillion Mall ,Lat: 1.37843100827586 Long: 103.762842789877
HillV2 ,Lat: 1.36267450828024 Long: 103.76417292006
Hougang 1 ,Lat: 1.37571530699875 Long: 103.879472337592
Hougang Green Shopping Mall ,Lat: 1.3792452907016 Long: 103.887832017102
Hougang Mall ,Lat: 1.37249493810003 Long: 103.893775562605
Jubilee Square ,Lat: 1.37178558575829 Long: 103.847837565378
Junction 10 ,Lat: 1.38033681049385 Long: 103.760167883439
Junction 9 ,Lat: 1.43306021695327 Long: 103.841649364872
Keat Hong Shopping Centre ,Lat: 1.37736607441394 Long: 103.744393648768
No Results
Limbang Shopping Centre ,Lat: 1.39207388730918 Long: 103.743099573442
Lot One ,Lat: 1.38497459672379 Long: 103.745011766388
Marsiling Mall ,Lat: 1.43354318137534 Long: 103.77988189197
No Results
NEX ,Lat: 1.35076935257845 Long: 103.872296143862
North East ,Lat: 1.32359095684442 Long: 103.878811757886
North West ,Lat: 1.4350449476836 Long: 103.786826166174
Northpoint City ,Lat: 1.42969848626288 Long: 103.835776491468
Oasis Terraces ,Lat: 1.40278015725693 Long: 103.913215101343
Punggol Plaza ,Lat: 1.39423719717117 Long: 103.913047323223
Rail Mall ,Lat: 1.35976061966283 Long: 103.767585300058
Rivervale Mall ,Lat: 1.39219777838449 Long: 103.904471600025
Rivervale Plaza ,Lat: 1.38533736107771 Long: 103.901841044122
Sembawang Shopping Centre ,Lat: 1.44182470675733 Long: 103.824845207237
Sun Plaza ,Lat: 1.44819535371132 Long: 103.819502127155
Sunshine Place ,Lat: 1.37789727654673 Long: 103.739015486021
Teck Whye Shopping Centre ,Lat: 1.38004752975397 Long: 103.752483841199
The Midtown ,Lat: 1.37050445523679 Long: 103.895291518188
The Seletar Mall ,Lat: 1.39147015374628 Long: 103.876125507257
Upper Serangoon Shopping Centre ,Lat: 1.35348082277147 Long: 103.878828134896
Waterway Point ,Lat: 1.40648462132006 Long: 103.902105680785
West Mall ,Lat: 1.35001920979845 Long: 103.749244800677
Wisteria Mall ,Lat: 1.41795288501536 Long: 103.841268831617
Woodlands Mart ,Lat: 1.44562290720221 Long: 103.798140993891
Yew Tee Point ,Lat: 1.39705741516141 Long: 103.746662121143
No Results
Yew Tee Square ,Lat: 1.39832134857945 Long: 103.747344866472

Alexandra Retail Centre ,Lat: 1.27414893629254 Long: 103.801399416665
HarbourFront Centre ,Lat: 1.26396991176004 Long: 103.820243325181
VivoCity ,Lat: 1.26429316783973 Long: 103.82230469365
321 Clementi ,Lat: 1.31200212030821 Long: 103.764986676365
Alexandra Central ,Lat: 1.28728320930592 Long: 103.805283367958
Anchorpoint ,Lat: 1.28861469030586 Long: 103.805009964592
Big Box ,Lat: 1.33191839981568 Long: 103.744920406659
Boon Lay Shopping Centre ,Lat: 1.34633552457315 Long: 103.712430373455
Fairprice Hub ,Lat: 1.32561767765205 Long: 103.678409741897
Gek Poh Shopping Centre ,Lat: 1.34874357136408 Long: 103.697732091001
Grantral Mall ,Lat: 1.31427043922294 Long: 103.765147487482
IMM ,Lat: 1.33489844010888 Long: 103.746734487309
JCube ,Lat: 1.33332312550425 Long: 103.740187071348
Jem ,Lat: 1.33305999269581 Long: 103.743503708169
Jurong Point ,Lat: 1.33945271661445 Long: 103.70668501289
No Results
Pioneer Mall ,Lat: 1.34169239214292 Long: 103.697174842118
Queensway Shopping Centre ,Lat: 1.2876179255874 Long: 103.803391140455
Rochester Mall ,Lat: 1.30540765569962 Long: 103.788446680148
Taman Jurong Shopping Centre ,Lat: 1.33484487416514 Long: 103.720462024278
The Clementi Mall ,Lat: 1.31489619639366 Long: 103.764423054189
The Star Vista ,Lat: 1.30697044038323 Long: 103.788420274115
Tiong Bahru Plaza ,Lat: 1.28645889472825 Long: 103.827015256194
West Coast Plaza ,Lat: 1.30369748971099 Long: 103.766131294678
No Results

In [41]:
mrt_location.to_csv('./locations/mrt_location.csv',index=False)
mall_location.to_csv('./locations/mall_location.csv',index=False)

In [43]:
mrt_location

,MRT,Building,Latitude,Longitude
0,Jurong East MRT Station,JURONG EAST MRT STATION (EW24 / NS1),1.33315281585758,103.742286332403
1,Bukit Batok MRT Station,BUKIT BATOK MRT STATION (NS2),1.34903331201636,103.749566478309
2,Bukit Gombak MRT Station,BUKIT GOMBAK MRT STATION (NS3),1.35861159094192,103.751790910733
3,Choa Chu Kang MRT Station,CHOA CHU KANG MRT STATION (NS4),1.38536316540225,103.744370779756
4,Yew Tee MRT Station,YEW TEE MRT STATION (NS5),1.39753506936297,103.747405150236
...,...,...,...,...
115,Bedok North MRT Station,BEDOK NORTH MRT STATION (DT29),1.33474211664091,103.91797832995
116,Bedok Reservoir MRT Station,BEDOK RESERVOIR MRT STATION (DT30),1.33660782955099,103.932234623286
117,Tampines West MRT Station,TAMPINES WEST MRT STATION (DT31),1.34551530560119,103.938436971222
118,Tampines East MRT Station,TAMPINES EAST MRT STATION (DT33),1.35619148271544,103.9546344625
119,Upper Changi MRT Station,UPPER CHANGI MRT STATION (DT34),1.34173977444995,103.961472788634

In [44]:
mall_location

,Mall,RoadName,Latitude,Longitude
0,100 AM,TRAS STREET,1.27458821795426,103.84347073661
1,313@Somerset,ORCHARD ROAD,1.30138510214714,103.837684350436
2,Aperia,KALLANG AVENUE,1.3104736675734,103.86431321816
3,Balestier Hill Shopping Centre,BALESTIER ROAD,1.32616307866261,103.843741438467
4,Bugis Cube,NORTH BRIDGE ROAD,1.2981408343975,103.855635339249
...,...,...,...,...
151,Taman Jurong Shopping Centre,YUNG SHENG ROAD,1.33484487416514,103.720462024278
152,The Clementi Mall,COMMONWEALTH AVENUE WEST,1.31489619639366,103.764423054189
153,The Star Vista,VISTA EXCHANGE GREEN,1.30697044038323,103.788420274115
154,Tiong Bahru Plaza,TIONG BAHRU ROAD,1.28645889472825,103.827015256194
155,West Coast Plaza,WEST COAST ROAD,1.30369748971099,103.766131294678

In [50]:
print(f'{len(mrt_location)} mrt out of {len(list_of_mrt)} searched')
print(f'{len(mall_location)} malls out of {len(list_of_shopping_mall)} searched')

120 malls out of 120 searched
156 malls out of 171 searched

### getting data for all the house holds

In [77]:
from geopy.distance import geodesic, great_circle
from geopy.geocoders import GoogleV3
from geopy.geocoders import Nominatim

In [122]:
# Now - let's find grab the geolocation of each unit that was transacated using the same method. But hang on - that's a large dataset.. we can make it a bit more efficient. We know that there will be multiple units that will be transacted in the same HDB Apartment block. We can de-dup our dataframe and obtion the only unique addresses in our dataframe. 
# Let's combine the block and street name to form the address of our transacted unit.
df['address'] = df['block'] + ' ' + df['street_name'] + ' '+ 'SINGAPORE'



# Dedup Address List
df_dedup = df.drop_duplicates(subset='address', keep='first')
len(df_dedup)

# Next let's grab the unique addresses and create a list 
address_list = df_dedup['address'].tolist()
len(address_list)

9461

In [78]:
#!pip install geopy

There were 3 attempts to obtain geolocation data:
1. OneMap: After running through 105 street addresses program error code. saved to `hdb_location.csv`
2. OneMap: new method is used with only using TOA PAYOH town for comparisons. saved to `hdb_location2.csv`
3. MapQuest: New API used to get remainder of data. however abbreviated words like 'LOR' , 'CTRL' does not provide a result. saved to `hdb_location3.csv`

In [82]:
# This may take a while...

geolocator = Nominatim(user_agent="GoogleV3")

address = []
full_address = []
latitude = []
longitude = []
no_result = []

for row in range(len(address_list)):
    #formulate query string 
    try:
        add, (lat, lon) = geolocator.geocode(address_list[row])
        address.append(address_list[row])
        full_address.append(add)
        latitude.append(lat)
        longitude.append(lon)
    except:
        no_result.append(address_list[row])

df_coordinates = mall_location = pd.DataFrame({
    'address': address,
    'full_address': full_address,
    'Latitude': latitude,
    'Longitude': longitude
})

In [124]:
# save this third set of data 
df_coordinates.to_csv('./locations/hdb_location3.csv',index=False)

## Computing the nearest mrt, mall and names

In [157]:
# read all the data needed
mrt_location = pd.read_csv('./locations/mrt_location.csv')
mall_location = pd.read_csv('./locations/mall_location.csv')

# compile multiple location data to one dataframe
df_coordinates1 = pd.read_csv('./locations/hdb_location.csv')
df_coordinates1['address'] = df_coordinates1['blk_no'] + ' ' + df_coordinates1['road_name']
df_coordinates2 = pd.read_csv('./locations/hdb_location2.csv')
df_coordinates3 = pd.read_csv('./locations/hdb_location3.csv')
df_coordinates = pd.concat([df_coordinates1,df_coordinates2,df_coordinates3], ignore_index=True)

In [158]:
address =[]
d_mrt = []
n_mrt = []
d_mall = []
n_mall = []

for add,lat,lon in zip(df_coordinates.address,df_coordinates.latitude,df_coordinates.longitude):
    d_to_mrt = 99
    d_to_mall = 99
    temp = 0
    
    #loop for MRT and Mall to find the shortestdistance to address
    for mrt,mrt_lat,mrt_lon in zip(mrt_location.Building, mrt_location.Latitude, mrt_location.Longitude):
        temp = great_circle((lat, lon), (mrt_lat, mrt_lon)).km
        if d_to_mrt > temp:
            d_to_mrt = temp
            n_to_mrt = mrt
    for mall,mall_lat,mall_lon in zip(mall_location.Mall, mall_location.Latitude, mall_location.Longitude):
        temp = great_circle((lat, lon), (mall_lat, mall_lon)).km
        if d_to_mall > temp:
            d_to_mall = temp  
            n_to_mall = mall
    
    address.append(add)
    d_mrt.append(d_to_mrt)
    n_mrt.append(n_to_mrt)
    d_mall.append(d_to_mall)
    n_mall.append(n_to_mall)
    
df_coordinates['dist_mrt'] = d_mrt
df_coordinates['near_mrt'] = n_mrt
df_coordinates['dist_mall'] = d_mall
df_coordinates['near_mall'] = n_mall

In [159]:
# remove duplicates after compiling overlapping addresses
df_coordinates.drop_duplicates(subset=['address'],keep='last',inplace=True)

In [160]:
print(f'{len(df_coordinates)/len(address_list)*100:.0f}% of addresses were collected')

86% of addresses were collected

In [161]:
no_result = [x for x in df.address.unique() if x not in df_coordinates.address.unique()]

In [202]:
df_coordinates[df_coordinates.dist_mall == 99]

,latitude,longitude,blk_no,road_name,postal_code,address,full_address,block,street_name,dist_mrt,near_mrt,dist_mall,near_mall
3706,20.849793,106.67367,NaN,NaN,NaN,120 KIM TIAN PL,"SINGAPORE RESTAURANT, Tô Hiệu, Phần Lan, Quận ...",120,KIM TIAN PL,99.0,OUTRAM PARK MRT STATION,99.0,100 AM
3707,20.849793,106.67367,NaN,NaN,NaN,121 KIM TIAN PL,"SINGAPORE RESTAURANT, Tô Hiệu, Phần Lan, Quận ...",121,KIM TIAN PL,99.0,OUTRAM PARK MRT STATION,99.0,100 AM

There is a search that resulted in an address in Vietnam, this will be removed

In [204]:
df_coordinates =df_coordinates[df_coordinates.dist_mall != 99]

In [205]:
# save the location 
df_coordinates.to_csv('./locations/hdb_location_dist.csv',index=False)

### Compile HDB resale prices and distance data for visualisation

In [206]:
df.address = df.address.str.replace(' SINGAPORE', '')

In [217]:
df_final = pd.merge(df,df_coordinates,on=['block','street_name','address'],how='left')

In [218]:
df_final.shape

(849758, 26)

In [219]:
df_final.columns.to_list()

['town',
 'flat_type',
 'flat_model',
 'floor_area_sqm',
 'street_name',
 'resale_price',
 'month',
 'remaining_lease',
 'lease_commence_date',
 'storey_range',
 'block',
 'storey_lower',
 'storey_upper',
 'block_num',
 'storey_ave',
 'address',
 'latitude',
 'longitude',
 'blk_no',
 'road_name',
 'postal_code',
 'full_address',
 'dist_mrt',
 'near_mrt',
 'dist_mall',
 'near_mall']

In [220]:
df_final = df_final[['town',
                     'flat_type',
                     'flat_model',
                     'floor_area_sqm',
                     'resale_price',
                     'month',
                     'remaining_lease',
                     'storey_ave',
                     'address',
                     'latitude',
                     'longitude',
                     'full_address',
                     'dist_mrt',
                     'near_mrt',
                     'dist_mall',
                     'near_mall']]

In [221]:
df_final.to_csv('hdb_resale_dist.csv',index=False)